<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lista de productos
    body
    ul
     each product,index in products
      li= product.name
       ul
        if product.categories
        each category in product.categories
         li=category.name
